
.head-one{
    border-top: 0.5px solid #797d62;
    border-bottom: 0.5px solid #797d62;
    width: 89%;
    margin: 20px 70px;
}

@media screen and (max-width: 768px) {
    .head-one{
        border-top: 0.5px solid #797d62;
        border-bottom: 0.5px solid #797d62;
        width: 70%;
        margin: 20px 70px;
    }
}

/* featured products styling */

  #feature-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
  }
  
  .features {
    display: flex; 
    margin: 20px 20px;
    gap: 20px;
   
  }


button{
    margin: 20px 0px;
    width: 130px;
    height: 30px;
    border-radius: 30px;
    border:2px solid #797d62;
    background: none;
    color: #797d62;
    cursor: pointer;
    font-size: 16px;
}
  

  .features > img {
    margin: 0px 60px;  

  }

  .features > div {
    cursor: pointer;
  }


/* Media query to change display options of featured products */
@media screen and (max-width: 768px) {
    .features {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  
    .features > div,
    .features > img {
      width: 100%;
    }
}



.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  
  .container {
    display: flex; 
    margin: 20px;
    gap: 20px;
  }

  .container >div {
  cursor: pointer;   
  }

  .container >div:hover {
    opacity: 0.5;
    }

/* Media query to change display options of featured products */
@media screen and (max-width: 768px) {
    .container {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  
    .container > div,
    .container > img {
      width: 100%;
    }
}

.overlay{
  text-align: center;
  background-color: cornflowerblue;
}


.video{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;

}

/*styling footer */

.footer-style{
  background: #797d62;
  color: white;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contact >h1{
  text-align: center;
}

.contact >p{
  text-align: center;
}

.contact-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* contact form styling */
.contact-column {
  width: 50%;
  min-width: 300px;
}


/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: #797d62;
  border-radius: 20px;
  border:1px solid white;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
}


.socials{
  min-width: 300px;
}

.copyright{
  background: #4c4e3f;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 20px;
}

hr{
  border:  2px solid #df9280;
  margin: 5px 0px;
}

